img{

    width:200px;
    height:200px;
    
   
}

.texto{

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #006666;
}

body{

    background-color: white;
    
}

.imagen{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}



a{

    text-decoration:none;
    display:inline;
    border-radius:10px;
    background:white;
    color:#006666;
    text-align:center;
    line-height:100px;  

}


.ocultar{

    display: none;
}