img{

    width:200px;
    height:100px;
    
   
}

.texto{

    font-family: 'Blinker', sans-serif;
    text-align: center;
    color: white;
    font-size: 10vw;
}

body{

    background-color: #006666;
    
}

.imagen{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}



.ocultar{

    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006666;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #006666;
  }